
/* qui in body imposto gli stili generali rispetto ai quali poi definisco/differenzio i vari elementi per esempio mettendo 
font-size: 100% scelgo di usare la font size preimpostata del browser degli users che poi posso scalare quando definisco 
i vari elementi */

body {
    font-family: Space Grotesk;
    font-size: 100%; /* usiamo font size preimpostato del browser di chi usa il sito, generalmenre 16 px*/
    margin: 0;
}

/* ----- SEZIONI ----- */
/* SEZIONE 1 */
#home_s1 {
    position: relative;
    height: 46em; /* altezza sezione */
    text-align: center;
    background-image: url("images/sfondo3_sopra_newDET.png") ;
    background-repeat:repeat-x; /* ripete immagine su asse x */
    background-position: center top;
    background-size: auto 100%;  /* larghezza automatica, altezza = 100% dell'altezza della sezione */
}

/* CONTAINER */
#home_s1 .bg_container{
    margin: 0 auto; /*centra il container nel viewport*/
    height: 46em;
    width: 70em;
    position: absolute;
    top: 50%; /* sposta il centro dell'elemento al 50% dell'altezza del container */
    left: 50%; /* sposta il centro dell'elemento al 50% della larghezza del container */
    transform: translate(-50%, -50%); /* sposta l'elemento indietro della metà della sua altezza e larghezza */
}

#home_s1 .bio_container{
    position: inherit; /* eredita position absolute dal parent */
    left: 50%;
    transform: translate(-50%, 0%);
}

#home_s1 .art_container{
    position: inherit;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

/* TESTI */
#home_s1 h1 {
    font-size: 2.5em;
    padding-top: 0.5em;
    margin: 0;
}

#home_s1 p {
    font-size: 1.1em;
    padding: 0.3em;
    margin: 0;
}

/* BOTTONE TIPICO */
.bottone_tipico {
    font-family: Space Grotesk;
    font-size: 1.2em;
    background-color: #D9F582;
    color: #2E2E2E; /* colore testo */
    border: none; /* ma potrei fare 1px e poi specificare border-color e altro*/
    padding: 0.38em 2em;
    cursor: pointer; /* mostra la mano al passaggio del mouse */
    align-items: center; /* centra immagine e testo verticalmente */
    transition: 0.1s ease; /* Aggiunge una transizione per il colore */
}

.bottone_tipico:hover {
    background-color: #F2F2F2;  /* Cambia il colore del bottone al passaggio del mouse */
}

/* BOTTONE TONDO */
.bottone_tondo {
    display: inline-block;
    font-family: Space Grotesk;
    font-size: 1.1em;
    background-color: #D9F582;
    color: #2E2E2E;
    border: none; /* Rimuove il bordo */
    width: 6em; /* Larghezza del bottone */
    height: 6em; /* Altezza del bottone */
    border-radius: 50%; /* Fa diventare il bottone rotondo */
    cursor: pointer; /* Cambia il puntatore del mouse */
    text-align: center; /* Allinea il testo al centro */
    transition: 0.1s ease; /* Aggiunge una transizione per il colore */
}

.bottone_tondo:hover {
    background-color: #F2F2F2;
}

/* BOTTONE TRE */
#home_s1 .pos_bottone_TRE {
    position: inherit;
    top: 63.5%;
    left: 72%;
}

/* BOTTONE CRAWLING DESKTOP */
.bottone_crawling {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s ease; /* quando hover del mouse la transizione ci mette 0.3 sec ed è morbida */
    position: inherit;
    top: 81.7%;
    left: 25%; 
}

.bottone_crawling img {
    height: 10em;
}

.bottone_crawling:hover img {
    content: url('images/whole_snake_button3-REV.png'); /* Sostituisci l'immagine */
}


/* SEZIONE 2 */
#home_s2 {
    height: 23em; /* altezza sezione */
    text-align: center;
    background-image: url("images/sfondo3_sotto.png") ;
    background-repeat:repeat-x; /* ripete immagine su asse x */
    background-position: center top;
    background-size: auto 100%;  /* larghezza automatica, altezza = 100% dell'altezza della sezione */
}
