/* GLOBAL */
body {
    font-family: "Space Grotesk", "Roboto", monospace;
    font-size: 100%; /* usiamo font size preimpostato del browser di chi usa il sito, generalmenre 16 px*/
    margin: 0;
}

.nascosto  { /*questa class mi permette di nascondere le cose facilmente*/
    display: none;
}

.overlay_popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100; /* il popup deve essere in 101 */
}

/* GLOBAL: testi*/
h1 {
    font-size: 3em;
    margin: 0;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 2.2em;
    margin: 0;
    padding: 0.3em 0;
}

h3 {
    font-size: 1.6em;
    margin: 0;
    padding: 0.2em, 0;
}

p {
    font-size: 1.1em;
    padding: 0.15em 0;
    margin: 0;
    overflow-wrap: break-word;
}

.bold {
    font-weight: bold;
}

 ul { /* unordered list: elenco puntato con elementi non-numerati */
    font-size: 1.1em;
    padding: 0.3em;
    margin: 0;
    overflow-wrap: break-word;
}

ul li { /* list item */
    margin-bottom: 0.2em;
    text-indent: 0;
}

.cream_highlight {
    background-color: #F7F7FF;
}

.orange_highlight {
    background-color: orange;
}

/* GLOBAL: box*/
.vert_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* GLOBAL: bottoni*/
.btn_verde {
    font-family: inherit;
    color: #2E2E2E; /* colore testo */
    background-color: greenyellow;
    border: 0;
    box-shadow: 0em 0.2em 0.4em;
    cursor: pointer; /* manina quando hover */
    transition: 0.1s ease;
}

.btn_verde:hover {
    background-color: #F2F2F2;
    box-shadow: 0 0.1em 0.2em;
}

.btn_verde:active {
    background-color: #F2F2F2;
    box-shadow: 0 0 0;
}

.btn_rosso {
    background-color: red;
    box-shadow: 3px 2px 5px black;
    border: none;
}

.btn_rosso:hover {
    background-color: #DB0000;
}

.btn_rettangolo {
    font-size: 1.2em;
    padding: 0.38em 2em;
    align-items: center;
    border-radius: 10px;
}

.btn_tondo {
    font-size: 1.1em;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    text-align: center; /* Allinea il testo al centro */
}

/* EFFETTO TYPEWRITER: cursore*/
#typewriter {
    width: max-content;
    white-space: nowrap;
    overflow: hidden; /*evita scroll orizzontale*/
    padding:0;
    border-right: .15em solid black; /* crea il finto cursore */
    letter-spacing: .15em; /* aggiunge spazio tra le lettere per migliorare l'effetto */
    animation: blink-caret 0.75s step-end infinite; /* uso l'animazione che ho creato qui sotto che fa lampeggiare il cursore. dura 0.75s, si ripete all'infinito e usa step-end per un effetto più netto */
}

/* animazione cursore */
@keyframes blink-caret {
    from, to { border-color: transparent } /* a inizio e fine animazione il cursore è trasparent */
    50% { border-color: black; } /* a metà animazione il cursore diventa nero */
}

/* EFFETTO PARALLAX */
.parallax_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parallax_bg {
    will-change: transform; /* migliora performance grafica*/
    position: absolute;
    width: 100%; /*height lo modifico caso per caso perchè la velocità del parallax crea bug*/
    z-index: -1;
}

/* POP-UP: allarme */ 
#allarme {
    /* display: none; */ /* COSI SI VEDE ANCHE DA PC PER ORA*/
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-image: url("images/allarme.png");
    background-size: fill;
    padding: 1em;
    width: 60%;
    max-width: 25em;
    box-shadow: 1em 1em 1em;
    gap: 0.5em;
}

#allarme h1 {
    color: red;
    padding: 0;
    font-size: 2em;
}

#allarme p {
    color: brown;
}

#allarme_x {
    color:red;
    background-color: transparent;
    border: none;
    font-weight: 900;
    font-size: 1.5em;
}

/* HOME: sezione 1 */
#e {
    height: 0.7em;
    width: 0.8em;
    background-image: url("icons/E.svg");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#home_s1 {
    position: relative;
    height: 46em;
    text-align: center;
    background-image: url("images/home_bg_s1.png");
    background-repeat:repeat-x;
    background-position: center top;
    background-size: auto 100%;  /* larghezza automatica, altezza = 100% dell'altezza della sezione */
}

.bg_container {
    position: absolute;
    height: 46em;
    width: 70em;
    top: 50%; /* sposta l'angolo in alto a sx dell'elemento al centro del container */
    left: 50%; /* sposta l'angolo in altro a sx dell'elemento al centro del container */
    transform: translate(-50%, -50%); /* sposta l'elemento indietro della metà della sua altezza e larghezza */
}

.main_container{
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

/* HOME: sezione 2 */
#home_s2 {
    position: relative;
    height: 23em;
    background-image: url("images/home_bg_s2.png") ;
    background-repeat:repeat-x;
    background-position: center top;
    background-size: auto 100%;
}

.social_container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 5em;
}

.social_icon {
    height: 5em;
    width: auto;
    cursor: pointer;
    transition: 0.3s ease;
}

.social_icon:hover {
    transform: scale(1.05);
}

/* HOME: bottoni */
.pos_btn_TRE {
    position: absolute;
    top: 63.5%;
    left: 72%;
}

#crawling_div {
    position: relative;
    height:10em;
    width: auto;
    top: 78.3%;
    left: 43%;
    transform: translate(-50%, 0);
}

#crawling_div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10em;
    pointer-events: none; /* Permette di cliccare attraverso l'immagine */
}

#crawling_div button {
    position: absolute;
    left: 57%;
    top: 43%;
}

#crawling_mobile_div {
    position: relative;
    height: 20em;
    width: 5em;
}

#crawling_mobile_div img {
    position: absolute;
    height: 20em;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Permette di cliccare attraverso l'immagine */
}

#crawling_mobile_div button {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 21%;
}

/* BIO */
#bio_body {
    background-color: #FFFEF2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em 2em;
}

.bio_side_col {
    flex: 1;
}

.bio_side_col img {
    width: 100%;
    height:auto;
}

.bio_central_col {
    flex: 1.2;
    align-self: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em;
}


#bio_p {
    flex-grow: 1;  /* Permette agli elementi di espandersi */
    flex-basis: 0;
    text-indent: 1em;
    text-align: justify;
    padding-bottom: 2em;
}


/*TRE*/
#tre_body {
    background-image: url("images/tre_bg.png");
    background-color: #033621;
    padding: 7em 0 6em 0;
}

#tre_oriz_box {
    display: flex;
    height: 75vh;
    padding: 0 2em;
    justify-content: center;
    gap: 2em;
}

#tre_text_box {
    background-color: bisque;
    box-shadow: 3px 2px 5px black;
    padding: 1em 2em 2em;
    margin-bottom: 1em;
    text-align: center;
    max-width: 30em;
}

#tre_avviso {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    max-width: 25em;
    padding: 4em 6em 4em 4em;
    background-image: url("images/tre_avviso.png");
    background-size: 100% 100%;
}

#tre_avviso p {
    max-width: 21em;
}

.tre_graffiti{
    margin-top: 10em;
    width: 35%;
}

/* CRAWLING */
#crawling_body {
    background-color: black;
}

#crawling_body h2 {
    color: white;
}

.crawling_snake {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    height: auto;
    width: 13vw;   
}

.on_the_left{
    left: 0; 
}

.on_the_right {
    right: 0;    
}

#crawling_main_div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vw;
    padding: 3em 0;
    gap: 3em;
}

#crawling_title {
    width: 40vw;
    padding-bottom: 3em;
}

#crawling_trailer {
    width: 40vw;
    height: 22.5vw;
    border: 2px solid rgb(45, 45, 45);
}

#crawling_p {
    font-family: 'Tektur', 'Courier New', Courier, monospace;
    color: white;
    width: 30vw;
    text-align: center;
}

/* CRAWLING: pop-up */
#crawling_popup {
    display: none;
    position: absolute;
    z-index: 101;
    bottom: 10%;
    width: 50%;
    padding-bottom: 1.5em;
    background-color: #2E2E2E;
    color: greenyellow;
    text-align: center;
}

#crawling_popup_p {
    display: inline-block;
    padding: 1em 2em 1em;

}

#crawling_popup .x {
    margin-top: 0.5em;
    color: greenyellow;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 1.5em;
}

#crawling_popup .x:hover {
    cursor: pointer;
    color: #F2F2F2;
}

/* LIT */
#lit_body {
    background-image: url("images/LIT_bg_mobile.png");
    background-color: peachpuff;
    margin: 2em;
}

#lit_body h3 {
    margin-bottom: 0.3em;
}

#lit_title_div { 
    height: 3em;
    margin: 7em 0 2em 3em;
    }

.lit_box {
    padding: 2em 1em 0 3em;
    display: inline-block;
}

.lit_pic {
    max-width: 13em;
    max-height: 15em;
    transition: 0.3s ease;
    cursor: pointer;
    padding: 0 1em 1em 0;
}

.lit_pic:hover {
    transform: scale(1.05);
}

/* CTRL+I*/
#ctrl_body {
    background-image: url("images/ctrl_bg.png");
    background-size: cover;
}

#ctrl_main {
    display: flex;
    flex-direction: column;
    margin: 5em 0 0;
    width: 40em;
    max-width: 85%;
    font-size: 1.1em;
}

#ctrl_main h1 {
    text-align: center;
}

#ctrl_main p {
    text-align: justify;
    margin-bottom: 0.5em;
}

/* SCOGLIO*/
#scoglio_body {
    background-color: #8F99AB;
}

#scoglio_bg {
    height: 85%; /*siccome la velocità del parallax aumenta la dimensione del bg, usa questo per tweeking*/
    background-image: url('images/scoglio_bg.png');
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: repeat-y;    
}

#scoglio_main {
    padding: 5em 0;
    width: 50vw; 
    text-align: center;
    gap: 0.5em;
}

#scoglio_main img {
    width: 60em;
}

#scoglio_main button {
    margin:0.5em
}

/* SEDIE */
#sedie_body {
    min-height: 100vh;
}

#sedie_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/sedie_bg.png");
    background-size: 100%;
    background-position: center bottom;
    z-index: -100;
}

#sedie_body .overlay_popup {
    display: inline-block;
}

#sedie_main {
    padding: 2em 1em;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.8);
}

#sedie_main p {
    width: 26em;
    max-width: 85vw;
    color: #F2F2F2;
    text-align: center;
}

#flipbox {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101; /* serve per overlay */
}

#flipbox button {
    transition: transform 0.5s;
    margin: 0 1em;
    font-size: 1.2em;
    height: 3em;
    width: 3em;
}

.flip_btn_sx_open {
    transform: translate(-8.2em);
}

.flip_btn_dx_open {
    transform: translate(8.2em);
}

.book {
    position: relative;
    width: 20em;
    height: 28.36em;
    transition: transform 0.5s;
}

.paper {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
    will-change: transform, z-index; /* Ottimizza le animazioni */
}

#p1 { z-index: 1}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden; /*quando un elemento 2d è ruotato in 3d (come in questo caso), si vede la "schiena" in questo modo la cancelliamo*/
}

.back {
    z-index: 0;
}

.front_content,
.back_content {
    width: 100%;
    height: 100%;
    display: flex;
}

.back_content {
    transform: rotateY(-180deg); /*ruota il contenuto della pagina che altrimenti sarebbe riflesso a causa del flip*/
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* MOBILE VERSIONE -------------------- */
@media only screen and (max-width: 60em) {

    p, ul {
        padding-bottom: 0.3em;
    }

    /* HOME */
    #home_body {
        background-color: #f7d8ff;;
    }

    #dj-pelu {
        font-size: 4em;
    }

    /* elimino cose */
    .pos_btn_TRE, #crawling_div {
        display: none;
    }

    /* aggiungo cose */
    .nascosto {
        display: inline-block;
    }

    /* sezione 1 */
    #home_s1 {
        position: static;
        background-image: none;
        background-color: transparent;
        min-height: fit-content;
        height: auto;
    }

    #home_s1 h1 {padding-bottom:0}

    .bg_container { /*lo faccio aderire al alla s1 e non lo cago più*/
        position: static;
        height: auto;
        width: auto;
        transform: translate(0, 0);
    }

    .main_container{
        width: 100vw;
        padding: 2em 0 1em 0;
        position: static;
        transform: translate(0, 0);
        gap: auto;
    }

    /* sezione 2 */
    #home_s2 {
        height: 60vw; /*più o meno metà della larghezza*/
        background-image: url(images/mucche.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100vw auto;
    }

    .social_container {
        top: 79%;
        left: 50%;
        transform: translate(-50, -50);
        width: fit-content;
        background-color: #F7F7FF;
        opacity: 0.8;
        padding: 0.2em 1em;        
        gap: 1em;
        border-radius: 10px;
    }

    .social_icon {
        height: 3em;
        width: auto;
    }
    
    /*BIO*/
    #bio_body {
        height: auto;
        padding: 3em 0 2em 0;
    }
    
    .bio_side_col {
        display: none;
    }
    
    .bio_central_col {
        width:100%;
        padding: 1em;
    }

    #bio_p h1 {
        font-size: 2.2em;
        padding-bottom: 0.5em;
    }

    /*TRE*/
    #tre_body {
        background-size: 200%;
        padding: 2em 0;
    }

    #tre_oriz_box {
        flex-direction: column;
        padding: 0;
        width: 95%;
        height: auto;
    }

    .tre_graffiti{
        margin-top: 10em;
        width: 60%;
    }

    #tre_text_box {
        font-size: 1em;
        padding: 0.5em 1.5em 2em;
        margin: 0 1em 2em;
    }
    
    #tre_avviso {
        padding: 3em 4em 3em 3em;
    }

    /* CRAWLING */
    .crawling_snake{
        display: none;
    }

    .crawling_snake_mobile {
        width: 95vw;
    }

    #crawling_main_div {
        position: absolute;
        top: 0;
        width: 100vw;
        padding: 0;
        gap: 3em;
    }

    #crawling_title {
        width: 85vw;
        padding-bottom: 0;
    }

    #crawling_trailer {
        width: 85vw;
        height: 45vw;
        border: 2px solid rgb(45, 45, 45);
    }

    #crawling_p {
        width: 85vw;
        text-align: center;
    }

    #crawling_popup {
        width: 80%;
    }

    /* LIT */
    #lit_body {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #lit_body h1 {
        font-size: 2.2em;
    }

    #lit_body h2 {
        font-size: 1.8em;
    }

    #lit_title_div { 
        min-height: 3em;
        margin: 5em 0 0 0;
    }
    
    #typewriter {
        text-align: center; /*centra il testo nel div*/
        margin: 0 auto;
        /* overflow-wrap: break-word; /* Permette al testo di andare a capo su parole lunghe */
        /* white-space: normal; /* Permette al testo di andare a capo naturalmente */
        /* max-width: 80%; */
    }

    .lit_box {
        padding: 3em 0 0 0;
        display: flex;
        flex-direction: column;
        width:100vw;
        align-items: center;
    }
    
    .lit_pic {    
        padding: 1em 0;
        height:auto;
    }

    #lit_home {
        margin: 3em auto;
    }

    /*CTRL+I*/
    #ctrl_main {
        max-width: 80%;
    }

    /* SCOGLIO */  
    #scoglio_bg {
        height: 98%; /*siccome la velocità del parallax aumenta la dimensione del bg, usa questo per tweeking*/
        background-image: url('images/scoglio_bg_mobile.png');
    }
    
    
    #scoglio_main {
        overflow: hidden;
        padding: 3em 0;
        width: 100vw; 
        text-align: center; 
        gap: 0.5em;
    }
    
    #scoglio_main img {
        width: 115vw;
    }
    
    #scoglio_main p {
        font-size: 1em;
        padding: 1em;
    }

    #scoglio_main button {
        font-size: 1em;
    }

    /* SEDIE */
    #sedie_bg {
        background-image: url("images/sedie_bg_mobile.png");
        background-size: cover;
        height: 130vh;
    }

    #sedie_main {
        background-color: transparent;
        padding: 0;
        gap: 4em;
        height: auto;
        width: 100vw;
        min-height: 100vh;
    }

    #sedie_main p {
        margin-top: 3em;
        order: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    #sedie_exit {
        order: 3;
        margin-bottom: 3em;
    }

    #flipbox {
        order: 1;
        transform: rotate(90deg);
        transform-origin: center center;
        height: 95vw; /* = width perchè dopo rotazione w e h si invertono*/
    }

    .flip_btn_dx_open {
        transform: translate(32vw)
    }

    .flip_btn_sx_open {
        transform: translate(-32vw)
    }


    .book {
        width: 63.5vw;
        height: 90vw;
        transition: transform 0.5s;
    }

}